body {
  background-color: #2B3E50;
  color: #fff;
}

#secondary-actions {
  font-size: 1rem;
  margin-left: 1rem;
  vertical-align: middle;
}

label {
  font-size: 0.85rem;
}

#results {
  display: none;
  margin-top: 1rem;
}

#tags, #quantities {
  font-style: italic;
  margin-top: 0;
  margin-bottom: 0;
}
